*, *::before, *::after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root{
	font-size: 16px;
}

body{
	min-height: 100vh;
}

.container{
	padding-left: 1rem;
	padding-right: 1rem;

	margin-left: auto;
	margin-right: auto;
}

	@media screen and (max-width: 1024px) {
		.container{ max-width: 980px; }
	}

	@media screen and (max-width: 1200px) {
		.container{ max-width: 1024px; }
	}

	@media screen and (max-width: 1440px) {
		.container{ max-width: 1110px; }
	}

.row{
	display: flex;
}
	#aside{
		flex: 1 0 auto;
	}

	#content{
		flex: 3 0 auto;
	}

#header{
	border-bottom: 1px solid #eee;
	padding: 1rem 0;
	margin-bottom: 2rem;
}